#background1{
   background-image: url("../../../img/storemanager.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#background2{
    background-image: url("../../../img/category.png");
    background-repeat: no-repeat;
    background-size: cover;


}
#font{
    color: #ced4da;
}