.container,
.container-products{
    justify-content: center;
    flex-wrap: wrap;
    margin-top:100px;
}



.container-products ion-icon{
     font-size: 25px;
     color: #5e35b1;
     margin-left: 10px;
     margin-right: 10px;
     cursor: pointer;
 }

.product-header{
    solid-color: #e91e63;
    width: 100%;
    display: flex;
    border-bottom: 4px solid lightgray;
    margin-top: 15%;
    padding: 13px;
    justify-content: center;
    color: #e91e63;
    background-color: #ffebee ;
}

.product-title{
    width: 45%;
}
.price{
    width: 15px;
    border-bottom: 1px solid lightgray;
}
.quntity{
    width: 30%;
    border-bottom: 1px solid lightgray;
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.product{
    width: 10%;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.product ion-icon{
    cursor: pointer;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;

}

.basketTotalTitle{
    width: 22%;
    padding-right: 1%;

}

.basketTotal{
    width: 15%;
}

@media all {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }
    .sm-hide{
        display: none;;
    }
    .products,
    .product-header{
        text-align: right;
        font-size: 30px;
        font-family: arial, sans-serif;
        padding-top: 5px;
        padding-bottom: 25px;
    }
    .basketTotalContainer{
        padding-right: 0%;
    }
}


#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}

#students td, #students th {
    border: 0px solid #9725ff;
    padding-top: 30px;
    padding-bottom: 30px;
}

#students tr:nth-child(even){background-color: #f2252d;}

#students tr:hover {background-color: #a643dd;}

#students th {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #9725ff;
    color: white;
}